/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    display: block;
}

.container__items  {
    margin: 0;
    padding: 0px;
}

.list__item,
.list__title {
    list-style: none;
}

.input,
.item__btn {
    outline: none;
}

.item__btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.item__btn:hover {
    color: #3a3a3a;
}

.list__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.item__task-input:focus {
    color: #333;
}

/*heading*/
.header {
    width: 500px;
    text-align: right;
    margin-bottom: 16px;
}

.header__mg {
    display: block;
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}


/*main*/
.main {
    width: 400px;
}

.item__task {
    width: 56%;
    display: inline-block;
}

.item__input-header {
    width: 318px;
}

.list__item-header {
    font-size: 0;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: none;
}

.item__btn-header:hover {
    color: #0fc57c;
}

.list__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 0;
}

.item__vertical-align {
    vertical-align: middle;
}

.item__vertical-align {
    vertical-align: middle;
}

.checkbox {
    margin: 0 10px;
}

.item__task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.item__task-input {
    width: 226px;
}

.svg__delete:hover {
    fill: #cf2323;
}

.svg__delete {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.svg__delete:hover {
    transform: rotateZ(0);
}

.complete-label {
    text-decoration: line-through;
    color: #888;
}

.item__input-hidden {
    display: none;
}

.list__item__edit-mode .item__input-text {
    display: inline-block;
    width: 224px;
}

.list__item__edit-mode > .item__edit-mode-label {
    display: none;
}



@media (max-width:768px) {
    
    .aaa {
        text-align: center;
    }

}